DISCORD_BOT_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
PM_ROLE_ID=
SCRUM_CHANNEL_ID=

NOTION_API_KEY=
NOTION_DATABASE_ID=

LEAD_PLAN_ID=
LEAD_DESIGN_ID=
LEAD_FE_ID=
LEAD_BE_ID=

CH_PLAN_ID=
CH_DESIGN_ID=
CH_FE_ID=
CH_BE_ID=
